.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .field {
        display: flex;
        flex-direction: row;
        * {
          width: 100%;
        }

        input {
            border: none;
            padding: 4px;
            border-radius: 4px;
        }
    }

    button {
        border: none;
        padding: 4px;
        border-radius: 4px;
        background-color: #fff;
        transition: ease-out 0.2s;

        &:hover {
            background-color: #eee;
        }
    }

    .register {
        font-size: 0.8rem;
    }
}
