@use '../colors.scss' as *;
.companyList {
    padding: 0.25rem;
    border: none;
    border-radius: 8px;
    background-color: map-get($theme, "input");
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .field {
        display: flex;
        flex-direction: row;
        * {
          width: 100%;
        }

        input {
            border: none;
            padding: 4px;
            border-radius: 4px;
            background-color: map-get($theme, "input");
        }
    }

    button {
        border: none;
        padding: 4px;
        border-radius: 4px;
        background-color: map-get($theme, "interactive");
        transition: ease-out 0.2s;

        &:hover {
            background-color: map-get($theme, "interactive-hover");
        }
    }
}
