.main {
    display: flex;
}

.form_design {
    display: flex;
    flex-direction: row;
    height: 150px;
    width: 400px;
    align-items: center;

}

.test {
    align-self: center;
    display: flex;
    width: 400px;
    flex-direction: column;
    justify-content: space-between;
}

.check {
    margin-bottom: 10px;
}

.tableside {
    margin-top: 10px;
    margin-left: 20px;
}

.innertable {
    height: 800px;
    width: 700px;
    background-color: aliceblue;
}

.eachone {
    display: flex;
    cursor:pointer;
    flex-direction: column;
    height: 150px;
    border: 1px solid black;
}

.eachone:hover {
    background-color: rgb(198, 208, 217);
}

.eachone:active{
    background-color: rgb(169, 180, 189);
}

.header {
    margin-left: 10px;
    height: 80px;

}

.body{
    margin-left: 10px;
    
}