@use "../colors.scss" as *;

.navbar {
    width: 100%;
    height: 2rem;
    display: flex;
    flex-direction: row;
    position: fixed;
    background-color: map-get($theme, "nav-bg");
    color: map-get($theme, "nav-text");

    .left {
      width: 100%;
      display: flex;
      flex-direction: row;
    }
    .right {
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
    }
}

.button {
    height: 100%;
    aspect-ratio: 1;
    padding: 4px;

    * {
      width: 100%;
      height: 100%;
    }
}
