@use "../colors.scss" as *;

.navbar {
    width: 100%;
    height: 2rem;
    display: flex;
    flex-direction: row;
    position: fixed;
    background-color: map-get($theme, "nav-bg");
    color: map-get($theme, "nav-text");

    .left {
      width: 100%;
      display: flex;
      flex-direction: row;
    }
    .right {
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
    }
}

.button {
    height: 100%;
    aspect-ratio: 1;
    padding: 4px;

    * {
      width: 100%;
      height: 100%;
    }
}

.links {
    height: 100%;
    border: none;
    display: flex;
    flex-direction: row;
    * {
        border: none;
        height: 100%;
        background-color: map-get($theme, "nav-bg");
    }
    a button {
        padding: 4px 8px 4px 8px;
        display: flex;
        flex-direction: row;
        gap: 0.25rem;
        span {
            text-align: center;
            height: 100%;
        }
        &:hover {
          * {
              background-color: map-get($theme, "bg-3");
              transition: ease-out 0.2s;
          }
          background-color: map-get($theme, "bg-3");
          transition: ease-out 0.2s;
        }
    }
    text-decoration: none;
    * {
        text-decoration: none;
    }
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;

}
