@use "../colors.scss" as *;
.container {
    background-color: map-get($theme, "bg-3");
    border-radius: 8px;
    border: solid 3px;
    border-color: map-get($theme, "border");
    padding: 2rem;
}
